:root {
  --text: #0a0806;
  --background: #eeeae2;
  --primary: #264037;
  --secondary: #e5ded2;
  --accent: #7e5794;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}
